<launch>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>
	

	<include file="$(find gazebo_ros)/launch/empty_world.launch">    
		<arg name="world_name" value="$(find cyton_alpha_gazebo)/worlds/cyton.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>    
		<arg name="headless" value="$(arg headless)"/>	
	</include>

	<param name="robot_description" 
		command="$(find xacro)/xacro.py $(find cyton_alpha_description)/urdf/cyton_gazebo_description.urdf" />

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
			args="-urdf -model cyton_alpha -param robot_description"/>
</launch>
