<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cyton_alpha_description">
	<xacro:include filename="$(find cyton_alpha_description)/urdf/cyton_alpha.structure.xacro" />
	<xacro:include filename="$(find cyton_alpha_description)/urdf/cyton_alpha.gazebo.xacro" />
	
	<xacro:cyton_alpha name="arm"/>
	<link name="base">
			<inertial>
				<origin
					xyz="0 0 0"
					rpy="0 0 0" />
				<mass value="10" />
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
				<!-- <inertia
					ixx="0.00082976"
					ixy="8.1234E-05"
					ixz="-1.1485E-05"
					iyy="0.0010372"
					iyz="2.8245E-06"
					izz="0.00086815" />
				-->
			</inertial>
			<visual>
				<origin
					xyz="0 0 0"
					rpy="0 0 0" />
				<geometry>
					<box size="0.2 0.2 0"/>
				</geometry>
				<material
					name="">
					<color
						rgba="0.75294 0.75294 0.75294 1" />
				</material>
			</visual>
			<collision>
				<origin
					xyz="0 0 0"
					rpy="0 0 0" />
				<geometry>
					<box size="0.2 0.2 0.010"/>
				</geometry>
			</collision>
		</link>
	<joint name="base2cyton" type="fixed">
	<origin xyz="-0.1 0.1 0" rpy="0 0 0"/>
		<parent link="base"/>
		<child link="link0"/>
	</joint>

</robot>

